.full {
  width: 100%;
  height: 100%;
}

.fit {
  width: fit-content;
  height: fit-content;
}

.flexr {
  display: flex;
  flex-direction: row;
}

.flexc {
  display: flex;
  flex-direction: column;
}