@mixin full {
  width: 100%;
  height: 100%;
}

@mixin fullw {
  width: 100%;
}

@mixin fix {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin fullh {
  height: 100%;
}

@mixin fit {
  width: fit-content;
  height: fit-content;
}

@mixin flexrr {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flexc {
  display: flex;
  flex-direction: column;
}

@mixin flexcr {
  display: flex;
  flex-direction: column-reverse;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: 1px rgb(194, 194, 194) solid;
  border-radius: 10px;

  > * {
    padding: 15px;
  }

  > *:not(:last-child) {
    border-bottom: 1px gainsboro solid;
  }
}

.main {
  overflow: hidden;

  > * {
    position: absolute;
  }

  * {
    overflow: hidden;
  }
}

.os {
  @include full;
  top: 0;
  pointer-events: none;
  * {
    pointer-events: auto;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskbar {
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(247, 247, 247, 0.9);
  // position: absolute;
  display: flex;
  // bottom: 0;
  margin-top: auto;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  div {
    padding: 8px;
    height: 40px;
    border-radius: 10px;
    margin: 2px;
    @media (pointer: coarse) {
      padding: 0;
      height: 50px;
      margin: 10px;
    }
    img {
      height: 100%;
      width: auto;
    }
    @media (pointer: fine) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
      }
    }
  }

  @media (pointer: coarse) {
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 25px;
    z-index: 50;
    background-color: rgba(247, 247, 247, 0.2);
  }
}

.test {
  background-color: azure;
}

.win {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: rgba(252, 252, 252, 0.97);
  border: 1px solid #ddd;
  user-select: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  @media (pointer: coarse) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.handle {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.05)
}