@mixin full {
  width: 100%;
  height: 100%;
}

@mixin fullw {
  width: 100%;
}

@mixin fix {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin fullh {
  height: 100%;
}

@mixin fit {
  width: fit-content;
  height: fit-content;
}

@mixin flexrr {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flexc {
  display: flex;
  flex-direction: column;
}

@mixin flexcr {
  display: flex;
  flex-direction: column-reverse;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: 1px rgb(194, 194, 194) solid;
  border-radius: 10px;

  > * {
    padding: 15px;
  }

  > *:not(:last-child) {
    border-bottom: 1px gainsboro solid;
  }
}

.main {
  overflow: hidden;

  > * {
    position: absolute;
  }

  * {
    overflow: hidden;
  }
}

.os {
  @include full;
  top: 0;
  pointer-events: none;
  * {
    pointer-events: auto;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskbar {
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(247, 247, 247, 0.9);
  display: flex;
  margin-top: auto;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  div {
    padding: 8px;
    height: 40px;
    border-radius: 10px;
    margin: 2px;
    @media (pointer: coarse) {
      padding: 0;
      height: 50px;
      margin: 10px;
    }
    img {
      height: 100%;
      width: auto;
    }
    @media (pointer: fine) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
      }
    }
  }

  @media (pointer: coarse) {
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 25px;
    z-index: 50;
    background-color: rgba(247, 247, 247, 0.2);
  }
}

.test {
  background-color: azure;
}

.win {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: rgba(252, 252, 252, 0.97);
  border: 1px solid #ddd;
  user-select: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  overflow: visible;
  @media (pointer: coarse) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-bottom: 120px;
  }
}

.handle {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.05)
}

.outlook {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 2fr; 
  gap: 5px;
  height: 100%;
  padding: 5px;

  @mixin style {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
  }

  > * {
    position: relative;
  }
  // inbox
  > :nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    overflow-y: scroll;
    padding-right: 3px;
    > * {
      height: 50px;
      margin-bottom: 5px;
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      @include style;

      > :last-child {
        font-size: 12px;
        color: #333;
      }
    }
  }
  // reader
  > :nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include style;
    padding: 5px;
    overflow-y: scroll;
    user-select: text;

    > :first-child {
      white-space: pre-wrap;
    }
  }
  // compose
  > :nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    @include style;
    user-select: auto;
    // inputs
    > :not(button) {
      width: 100%;
      border: none;
      padding: 5px;
      &:focus {
        outline: none;
      }
      font-family: Arial, Helvetica, sans-serif;
      &::placeholder {
        color: #ccc;
      }
    }
    // textarea
    > :nth-child(2) {
      border-top: 1px solid #ddd;
      resize: none;
      flex-grow: 1;
    }
    // send
    > button {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 5px;

      &:not(:disabled) {
        background-color: #0072C6;
        color: white;
      }
    }
  }

  @media (pointer: coarse) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; 

    // inbox
    > :nth-child(1) {
      grid-column: 1;
      grid-row: 1 / 2;
    }
    // reader
    > :nth-child(2) {
      grid-column: 1;
      grid-row: 2 / 3;
    }
    // compose
    > :nth-child(3) {
      grid-column: 1;
      grid-row: 3 / 4;
    }
  }
}